body{
    letter-spacing: 0.1em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

/* PC・SPのオンオフ */
.pc{
    display: block;
}
.sp{
    display: none;
}
@media (max-width: 767px){
    .pc{
        display: none !important;
    }
    .sp{
        display: block;
    }
}

/* ヘッダー */
.logo{
    width: 210px;
    margin-top: 14px;
}

.main-nav{
    display: flex;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: #432;
}
.main-nav a:hover {
    color: #0bd;
}

header{
    width: 100%;
    padding: 10px 0;
}
.header_wrapper{
    max-width: 1320px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_wrapper h1{
    width: auto;
    display: flex;
    align-items: center;
}
.header_wrapper h1 a{
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 34px;
}
.header_wrapper h1 span{
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    margin-left: 10px;
}
.header_right{
    display: flex;
}
@media (max-width: 767px){
    header{
        position: fixed;
        top: 0;
        z-index: 100;
        padding: 0;
        background-color: #fff;
    }
}

/* ナビゲーション */
.gnav{
    width: 100%;
    background-color: #006036;
}
.gnav_wrapper{
    max-width: 980px;
    margin: auto;
    display: flex;
}
.gnav_wrapper li{
    border-left: #888 1px solid;
    text-align: center;
    width: calc(100%/4);
    transition: all  0.3s ease;
}
.gnav_wrapper li:last-child{
    border-right: #888 1px solid;
}
.gnav_wrapper li:hover{
    background-color: #888;
}
.gnav_wrapper li a{
    display: block;
    padding: 1.3em 0;
    color: #fff;
    text-decoration: none;
}
@media (max-width: 767px){
    .gnav_wrapper{
        position: fixed;
        display: table;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #006036;
        visibility: hidden;
        opacity: 0;
        padding-top: 20%;
    }
    .gnav_wrapper li{
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        border-bottom: #888 1px solid;
        border-left: none;
    }
    .gnav_wrapper li:last-child{
        border-right: none;
    }
    .menu-btn{
        color: #fff;
        cursor: pointer;
        z-index: 100;
        background-color: #006036;
        max-width: 56px;
        width: 56px;
    }
    .menu-btn i{
        display: block;
        font-size: 24px;
        text-align: center;
        padding-top: 10px;
    }
    .menu-btn span{
        display: block;
        padding: 0 0 10px 0;
        font-size: 10px;
        text-align: center;
    }
    .open{
        transition: all .5s;
        visibility: visible;
        opacity: 1;
        z-index: 10;
    }
    .menu-btn span::after{
        content: attr(data-txt-menu);
    }
    .open span::after{
        content: attr(data-txt-close);
    }
    
}

.container {
  position: relative;
    width: 100%;
    max-width: 400%;
    padding-top: 10px; /* 必要に応じて調整 */
}

.background-image {
    width: 80%;
    height: auto; /* 画像のアスペクト比を維持 */
}

.overlay {
    position: absolute;
    top: 50%; /* 中央に配置 */
    left: 50%;
    transform: translate(-50%, -50%); /* 中央に合わせるための調整 */
    text-align: center; /* テキストを中央揃え */
    color: white; /* テキストの色 */
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

a {
    display: block; /* 各リンクをブロック要素に */
    margin-top: 10px; /* スペースを確保 */
    color: white; /* リンクの色 */
}

.notice {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px 0;
}

.important-notice {
    border-color: red;
}



footer {
    background-color: #f0f0f0;
    padding: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}
